@charset "utf-8";

@import "../../ma-padding/mixin";
@import "../../ma-margin/mixin";
@import "../../ma-border/mixin";

.wraper{
  height: 50px;
  background: #446cb3;
}

//导航条
.ma-nav{
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  background: #446cb3;
  float: left;


  & > .ma-nav-item,
  & > li{
    display: inline-block;
    line-height: 1;
    float: left;
    position: relative;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;

    > a{
      display: inline-block;
      @include ma-padding-short(15px ,15px);

      color: #fff;
      text-decoration: none;
      text-align: center;
      vertical-align: middle;
      transition: all .3s ease-out;

      img {
        margin-top: -8px;
      }
    }

    &:hover,&.ma-active{
      > a{
        color: #3d61a2;
        background-color: #fff;
      }
      > .ma-submenu{
        display: block;
      }
    }
  }
}

//二级菜单
.ma-submenu {
  position: absolute;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 10px 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: transparent;

  -webkit-transition: display .3s linear;
  -moz-transition: display .3s linear;
  -ms-transition: display .3s linear;
  -o-transition: display .3s linear;
  transition: display .3s linear;

  & > li {
    display: inline;
    width: 100%;

    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-bottom: none;
    border-top: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);

    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;

    &:hover {
      > a{
        background: #f5f5f5;
      }
      > .ma-submenu{
        display: block;
      }
    }

    &:first-child{
      border-top: 1px solid #ccc;
      border-top: 1px solid rgba(0,0,0,.15);
    }
    &:last-child{
      border-bottom: 1px solid #ccc;
      border-bottom: 1px solid rgba(0,0,0,.15);
    }

    & > a{
      display: block;
      font-weight: 400;
      line-height: 1.42857143;
      color: #333;
      white-space: nowrap;
      text-align: left;
      @include ma-padding-short(10px ,10px);

      -webkit-transition: background .3s linear;
      -moz-transition: background .3s linear;
      -ms-transition: background .3s linear;
      -o-transition: background .3s linear;
      transition: background .3s linear;

      &:hover{
        background: #f5f5f5;
      }
    }
  }

  //向上 的 arrow
  &:before,&:after{
    display: block;
    content: " ";
    @include ma-border-triangle(9px,#ccc,top);
    position: absolute;
    top: -7px;
    left: 10px;
  }
  &:after{
    border-bottom-color: #fff;
    top: -6px;
    left: 10px;
  }

  & .ma-submenu{
    padding-left: 7px;
    padding-top:0;
    left: 100%;
    top: 0;

    // 向左的 arrow
    &:before,&:after{
      @include ma-border-triangle(9px,#ccc,left);
      top: 11px;
      left: -9px;
    }
    &:after{
      border-right-color: #fff;
      top: 11px;
      left: -8px;
    }
  }
}