<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>下拉菜单</title>
    <link rel="stylesheet" href="../../src/styles/css/utils/util.css"/>
    <link rel="stylesheet" href="../../src/styles/css/modules/menu/menu.css"/>
    <link rel="stylesheet" href="../../src/styles/css/modules/menu/menu2.css"/>
</head>
<body>
<div>
    <!-- 面包屑导航 -->
    <ol class="breadcrumb">
        <li class="">首页</li>
        <li class="">UI</li>
        <li class="active">下拉菜单</li>
    </ol>
    <div class="page_content">
        <blockquote class="alert alert-info">
            <header style="border-bottom: 1px solid #bbb;">
                <h3 class="title page-header">下拉菜单</h3>
            </header>
            <section class="descripiton">

            </section>
        </blockquote>

        <div class="well show">
            <div class="ma-wraper nav-left" id="menu_1">
                <script>
                    $("#menu_1").load("../../docs/menu/1.html");
                </script>
            </div>
            <div class="space-v"></div>

            <!--<blockquote class="alert alert-danger">
                相关代码
            </blockquote>
            <div class="btn-group">
                <button class="btn btn-primary" data-url="../docs/navbar/1.html" data-target="viewHTML">查看HTML代码</button>
                <button class="btn btn-primary" data-url="../../src/styles/sass/navbar/navbar.scss" data-target="viewSASS">查看SASS代码</button>
                <button class="btn btn-primary" data-url="../../src/styles/sass/bell/bell.scss" data-target="viewBELL">查看bell SASS代码</button>
                <button class="btn btn-primary" data-url="../../src/styles/css/navbar/navbar.css" data-target="viewCSS">查看CSS代码</button>
                <button class="btn btn-primary" data-url="" data-target="viewJS">查看JS代码</button>
            </div>-->
        </div>

        <div class="well show">
            <div class="ma-wraper nav-left" id="menu_2">
                <script>
                    $("#menu_2").load("../../docs/menu/2.html");
                </script>
            </div>
            <div class="space-v"></div>
        </div>

        <div class="well show">
            <div class="ma-wraper nav-left" id="menu_3">
                <script>
                    $("#menu_3").load("../../docs/navbar/3.html");
                </script>
            </div>
            <div class="space-v"></div>
        </div>
    </div>
</div>


</div>
</body>

</html>