.btn-royalBlue {
  background: #4169E1;
  color: #fff;
}

.btn-dodgerBlue {
  background: #1E90FF;
  color: #fff;
}

.btn-deepSkyBlue {
  background: #00BFFF;
  color: #fff;
}

.flat-btn-bar > .flat-btn,
.btn-group > .flat-btn {
  margin-right: 6px;
}

.flat-btn {
  padding: 4px 14px;
}
.flat-btn > i {
  padding-right: 4px;
}

.btn-flat-bar > .btn-flat,
.btn-group > .btn-flat {
  margin-right: 6px;
}

.btn-flat {
  padding: 4px 14px;
}
.btn-flat > i {
  margin-right: 6px;
}
