///*
// NAVIBAR VIRABLE
//--------------------------*/

$header-height : 64px;



$min-width : 1080px;
$hd-title-width : 200px;
$hd-left-bg-width : 277px;
$hd-right-bg-width : 241px;


///*
// FONTSIZE
//--------------------------*/

$hd-font-size : 16px;


///*
// COLORS
//--------------------------*/

$nav-clear-color : transparent;
$nav-active-color : #2959A3;