@import "../ma-colors/variable";

.btn-royalBlue{
  background: $royalBlue;
  color: $white;
}

.btn-dodgerBlue{
  background: $dodgerBlue;
  color: $white;
}

.btn-deepSkyBlue{
  background: $deepSkyBlue;
  color: $white;
}